<div class="page_top_section">

<div class="page_header_header">
<%= @book.title %>
</div>

<div class="book_ratings">
        <%= form_for @book, url: {action: "rate_book"}, html: {class: "nifty form"} do |f| %>
                <%#= f.label :style, "How would you rate the writing \"style\" of this book?" %>
                <%= hidden_field_tag(:book_id, @book.id) %>

        <div class="book_ratings_sub_1">
                <fieldset>
                <legend>Rate Style</legend>
                        <% @ratings_style.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_style, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_style_rt %> </div>
                </fieldset>
                <fieldset>
                <legend>Rate Plot</legend>
                        <% @ratings_plot.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_plot, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_plot_rt %> </div>
                </fieldset>
        </div>
        <div class="book_ratings_sub_2">
                <fieldset>
                <legend>Rate Theme</legend>
                        <% @ratings_theme.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_theme, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_theme_rt %> </div>
                </fieldset>
                <fieldset>
                <legend>Rate Characters</legend>
                        <% @ratings_characters.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_characters, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_characters_rt %> </div>
                </fieldset>
        </div>
        <div class="book_ratings_submit">
                <fieldset data-role="controlgroup" data-type="horizontal">
                <%= f.submit @button_label_2 %>
                <div id="rating_notice"><%= content_tag(:div, flash[:notice], :id => "flash_notice2") if flash[:notice] %></div>

                </fieldset>
        </div>
                <%#= f.collection_radio_buttons(:style, [['Please select an option', nil], 1, 2, 3, 4, 5]) %>
        <% end %>

</div>
<div class="page_header">

<span> average Style Rating: <%= @averaged_style %> out of 5  (<%= @averaged_style_rating_array.length %> rating(s)) </span></br>
<span> average Plot Rating: <%= @averaged_plot %> out of 5 (<%= @averaged_plot_rating_array.length %> rating(s)) </span></br>
<span> average Theme Rating: <%= @averaged_plot %> out of 5 (<%= @averaged_theme_rating_array.length %> rating(s)) </span></br>
<span> average Characters Rating: <%= @averaged_plot %> out of 5 (<%= @averaged_characters_rating_array.length %> rating(s)) </span>

 </div>
<div class="page_container">

<div class="new_topic">
<!--  <%#= form_for @book, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%#= hidden_field_tag(:booklist_id, @user.booklist.id) %>
  <%#= hidden_field_tag(:id, @book.id) %>
  <%#= f.submit @button_label %>
  <div id="added_removed_notice"><%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %></div>
<%# end %> -->

	<h3> Add a new Topic! </h3>

      	<%= form_for :topic, url: {action: "new_topic"}, html: {class: "nifty form"} do |f| %>
      	<%= hidden_field_tag(:user_id, @user.id) %>
     	<%= hidden_field_tag(:book_id, @book.id) %>
	<%= f.label :title, "What would you like to discuss? (Phrase as one sentence question)" %>
	<%= f.text_field :title %>
	<%= f.label :description, "What do you have to say about this topic? Get the conversation started!" %>
	<%= f.text_area :description %>
	<%= f.label :category %>
	<%= f.select(:category, [['Please select an option', nil], 'Plot', 'Character', 'Theme', 'Misc']) %>
	<%= f.submit @button_label %>
<% end %>
</div>

</div>


<div class="topics_container">
<% @topics.each do |bkt| %>
  
   <div class="topic"> 
   Topic #: <%= @topic_number %>, <%= bkt.title %><br/>by <%= bkt.user.email %><br/>
   <%= bkt.comments.length %> Comment(s)<br/><br/>
   </div>
   <% @topic_number = @topic_number.to_i  %>
   <% @topic_number += 1 %>
<% end %>

</div>
</div>
