
<% @topic.comments.order('created_at DESC').each do |cm| %>

<% content_for :body do %>

<script type="text/javascript">
$(document).ready(function() {

var cm_id = "<%=j cm.id.to_s %>";

$('#comment_reply_link_' + cm_id).click(function() {
alert("Hello World!");
return false;
})
})
</script>
<% end %>

<% end %>
<%#= link_to("<- Back To Topics", :controller => "book", :action => "page", :id => @book.id) %>
<div id="topic_page_header_container">
<div id="topic_page_top">
<fieldset id="topic_page_title">
<legend>Topic Question</legend>
<span id="topic_question_title_span"><%= @topic.title %></span>
<legend id="legend_user_and_created_at">by <%= @topic.user.email %> at <%= @topic.created_at %></legend>
</fieldset>

<fieldset id="topic_page_description">
<legend>initial comment by topic creator...</legend>
<%= @topic.description %>
</fieldset>
</div>
<div id="topic_page_add_comment-----------------z">
<fieldset id="topic_page_add_comment_fieldset">
        <legend> Add a new Comment! </legend>
        <%= form_for :comment, url: {action: "new_comment"}, html: {class: "nifty form"} do |f| %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= hidden_field_tag(:topic_id, @topic.id) %>
        <%= f.label :content, "Comment" %>
        <%= f.text_area :content %>
        <%= f.submit @button_label %>
	<% end %>
</fieldset>

</div>

</div>

<div id="comments_container">
<% @topic.comments.order('created_at ASC').each do |cm| %>

<div id="comment_container_<%= cm.id %>">
<div class="comment_header">
<span class="comment_header_user"> <%= cm.user.email %> </span> <span class="comment_header_timestamp" %> <%= cm.created_at %> </span> </div>
<div class="comment_content">
<%= cm.content %>
</div>

<div id="comment_reply_<%= cm.id %>" data-no-turbolink>
<!--		<h5><a href="#"	id="comment_reply_link_<%#= cm.id %>"> Reply </a></h5> -->
<%= link_to(image_tag("/reply.png", :width => '60px', :class => 'picture'), add_comment_reply_path(:topic_id => @topic.id, :user_id => @user.id, :comment_id => cm.id), :remote => true) %>

<div id="comment_partial_container_<%= cm.id %>">

<!--
<fieldset>
        <%#= form_for :comment2, url: {action: "new_comment2"}, html: {class: "nifty form"} do |f| %>
        <%#= hidden_field_tag(:user_id, @user.id) %>
        <%#= hidden_field_tag(:topic_id, @topic.id) %>
	<%#= hidden_field_tag(:comment_id, cm.id) %>
        <%#= f.label :content, "Comment" %>
        <%#= f.text_area :content %>
        <%#= f.submit @button_label %>
        <%# end %>
</fieldset>
-->

</div>
</div>


</div>








<div id="comment2s_container_<%= cm.id %>">

<% cm.comment2s.order('created_at ASC').each do |cm2| %>

<div class="comment2_header">
<span class="comment2_header_user"> <%= cm2.user.email %> </span> <span class="comment2_header_timestamp" %> <%= cm2.created_at %> </span>
</div>

<div class="comment2_content">
<%= cm2.content %>
</div>

<% end %>


</div>












<% end %>

</div>

<!--
 <table class="comments_table" border="1">
 <tr>
 <th>Votes</th>
 <th>Upvote?</th>
 <th>Downvote?</th>
 <th>Comment</th>
 <th>User</th>
 <th>Time-Stamp</th>
 </tr>
 
 <%# @topic.comments.order('created_at DESC').each do |cm| %>
 
 <tr>
 <td> BLANK </td>
 <td> BLANK </td>
 <td> BLANK </td>
 <td> <%#= cm.content %> </td>
 <td> <%#= cm.user.email %> </td>
 <td> <%#= cm.created_at %> </td>
 </tr>
 <%# end %>
 </table>
-->
